
*{
    background-color: #c5b19e;
    scroll-behavior: smooth;
    margin-left: 0%;
    margin-right: 0%;
}


.sub{
    text-align: center;
    padding: 0.3px;
    color: rgb(68, 64, 64);
}
.mini-info{
    text-align: left;
    color:rgb(68, 64, 64);
}

/* Style the tab buttons */

.tablink {
    background-color: #ffc31f;
    color: rgb(255, 0, 0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 18px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 16.66%;
    max-width: 1224px;
    margin: auto;
 
  }
  

  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #ffffff;
  }
  
  /* Set default styles for tab content */
  
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  */
*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

/* Text, Title, Info, Columns: Photo Gallery*/
.title{
    color:rgb(255, 0, 0);
    font-family:fantasy;
    margin: 2rem;
    text-align: center;
    font-size: 50px;
    
    
}

.photo-gallery{
    display: flex;
    gap: 60px;
}

.columns{
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.sub{
    margin-top: 1%;
    margin-bottom: 10%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mini-info{
    margin-top: auto;
    margin-bottom: 2%;
}
.title{
    margin-top: 4%;
}
/* Hover effect*/

@media(max-width:768px){
    .photo-gallery{
        flex-direction: column;
    }
}
